
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "iranyekan"; */
  list-style: none;
}

/*  VARIABLES : */
:root {
  --primaryColor: #2c66e3;
  --secondaryColor: #ede9fe;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #7c7c7c;
  --secondayGrey:#ccc;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
  --mainRed: #db2777;
  --bodyColor: #f6f6f6;
  --border-radius-tiny: 3px;
  --border-radius-sm: 5px;
  --border-radius-md: 7px;
  --border-radius-lg: 9px;
  --color-secondary-700: rgb(55, 65, 81);
  --color-secondary-300: rgb(209, 213, 219);
  --color-secondary-0: rgb(255, 255, 255);

}

body {
  /* font-family: "iranyekan"; */
  color: var(--mainBlack);
  background-color: var(--bodyColor);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* backdrop */

.backdrop {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
  z-index: 10;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: var(--color-secondary-0);
  border-radius: var(--border-radius-lg);
  padding: 2rem;
  width: calc(100vw - 4rem);
  max-width: 30rem;
  z-index: 2;
  max-height: calc(100vh - 4rem);
  overflow-y: auto;
}

.hidden {
  display: none;
}

.modal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-secondary-300);
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}
.modal__header .close-modal{
  background-color: #fff;
}
.modal__header p {
  text-align: center;
  flex: 1;
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--color-secondary-700);
}

.modal__content {
  font-size: 1.6rem;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}
#edit-todo{
  border: 1px solid var(--color-secondary-300);
  padding: 0.7rem;
  border-radius: var(--border-radius-lg);
  outline: none;
  font-size: 1.4rem;
  width: 100%;
}
.modal__actions {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  /* justify-content: space-between; */
  font-size: 1.4rem;
  gap: 4rem;
  
}
.modal__actions button {
  flex: 1;
  padding: .5rem;
  border-radius: var(--border-radius-lg);
  outline: none;
  color: #fff;
}
.btn--primary{
  background-color:rgb(0, 241, 133);
}
.modal__actions button.close-modal{
  background-color: rgb(255, 76, 76);
}
header {
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.todo-container {
  margin-top: 0.75rem;
}
form {
  width: max-content;
  background-color: var(--mainWhite);
  border-radius: .8rem;
  display: flex;
  justify-content: space-between;
  border:2px solid var(--secondayGrey);
  overflow: hidden;
  width: 100%;
}
form input {
  flex: 1;
  font-weight: bold;
}

form input,
form button {
  border: none;
  outline: none;
  background-color: none;
  font-size: 1rem;
  padding: 0.85rem;
}

form button {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
form button:hover {
  background-color: var(--primaryColor);
  color: var(--mainWhite);
}
.todo {
  background-color: var(--mainWhite);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
  display: flex;
}
.todo .todo__title {
  font-weight: bold;
  flex: 1;
  max-width: 12rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.todo button {
  display: block;
  font-size: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  background-color: transparent;
}

.fa-trash-alt {
  color: var(--mainRed);
}
.fa-check-square {
  color: var(--);
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

select {
  outline: none;
  color: var(--mainBlack);
  background-color: var(--mainWhite);
  border: 2px solid var(--secondayGrey);
  width: 7.6rem;
  border-radius: 0.65rem;
  cursor: pointer;
  overflow: hidden;
  padding:0.75rem 0;
  font-size: 0.76rem;
  font-weight: bold;
  text-align: center;
}
button{
  border: none;
  outline: 0;
}
button > i {
  pointer-events: none;
} 
@media screen and (min-width: 500px) {
.form-container {
flex-direction: row;
align-items: center;
}
.todo .todo__title{
  max-width: 22rem;
}
.modal__content{
  flex-direction: row;
  align-items: center;
}
.modal__actions button {
  font-size: 1.1rem;
}
}
