
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "iranyekan";
  list-style: none;
}

/*  VARIABLES : */
:root {
  --primaryColor: #2c66e3;
  --secondaryColor: #ede9fe;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #7c7c7c;
  --secondayGrey:#ccc;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
  --mainRed: #db2777;
  --bodyColor: #f6f6f6;
}

body {
  font-family: "iranyekan";
  color: var(--mainBlack);
  background-color: var(--bodyColor);
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.form-container {
  display: flex;
flex-direction: column;
gap: 0.75rem;
}
.todo-container {
margin-top: 0.75rem;
}
form {
  width: max-content;
  background-color: var(--mainWhite);
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  border:2px solid var(--secondayGrey);
  overflow: hidden;
  width: 100%;
}
form input {
  flex: 1;
  font-weight: bold;
}

form input,
form button {
  border: none;
  outline: none;
  background-color: none;
  font-size: 1rem;
  padding: 1rem;
}

form button {
  color: var(--);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
form button:hover {
  background-color: var(--primaryColor);
  color: var(--mainWhite);
}
.todo {
  background-color: var(--mainWhite);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
  display: flex;
}
.todo .todo__title {
  font-weight: bold;
  flex: 1;
  max-width: 12rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.todo button {
  display: block;
  font-size: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  background-color: transparent;
}

.fa-trash-alt {
  color: var(--mainRed);
}
.fa-check-square {
  color: var(--);
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

select {
  appearance: none;
  border: none;
  outline: none;
  width: max-content;
  padding: 0.75rem;
  color: var(--);
}

.select {
  background-color: #fff;
  cursor: pointer;
  width: max-content;
  position: relative;
    top: 0;
  right: 0;
  border: 2px solid var(--secondayGrey);
  font-weight: bold;
  border-radius: 0.5rem;
  overflow: hidden;
}
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.7rem;
  color: var(--);
  pointer-events: none;
}


button{
  border: none;
  outline: 0;

}
button > i {
  pointer-events: none;
} 